In [1]:
import pandas as pd
import numpy as np

# Import 2017 US-Level Data

In [2]:
raw_2017 = pd.read_csv(r"G:\My Drive\BCarney\DataAnalysis\CBP_2017\NAICS_AllDigits\US_level\rawdata\cbp17us.txt")
raw_2017

,uscode,naics,lfo,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,a500_999,n500_999,f1000,e1000nf,e1000,q1000nf,q1000,a1000nf,a1000,n1000
0,98,------,-,NaN,G,128591812,G,1712008089,G,6725346754,...,590636885,13071,NaN,G,19199220,G,368797221,G,1358791867,7888
1,98,------,C,NaN,G,55856671,G,940997664,G,3493494628,...,400985307,7697,NaN,G,9663052,G,232579586,G,808132024,4025
2,98,------,Z,NaN,G,34579852,G,338914972,G,1481360030,...,48501202,1729,NaN,G,1632940,G,16183001,G,66611262,715
3,98,------,S,NaN,G,4718816,G,39508712,G,162724298,...,10957232,234,NaN,G,238967,G,3401415,G,13107274,117
4,98,------,P,NaN,G,15160534,G,177545165,G,710815084,...,51924111,1225,NaN,G,1320388,G,21389736,G,81334102,614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12059,98,99----,Z,NaN,H,1011,G,6956,G,32452,...,0,N,N,N,0,N,0,N,0,N
12060,98,99----,S,NaN,H,6537,G,35228,G,147879,...,0,N,N,N,0,N,0,N,0,N
12061,98,99----,P,NaN,G,1118,G,8595,G,34729,...,0,N,N,N,0,N,0,N,0,N
12062,98,99----,N,NaN,J,1179,G,4722,G,22483,...,0,N,N,N,0,N,0,N,0,N
12063,98,99----,O,NaN,J,132,H,831,H,2912,...,0,N,N,N,0,N,0,N,0,N

# Select Three-Digit NAICS

In [3]:
threedigit_NAICS = raw_2017[raw_2017['naics'].str.contains('///')]
threedigit_NAICS

,uscode,naics,lfo,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,a500_999,n500_999,f1000,e1000nf,e1000,q1000nf,q1000,a1000nf,a1000,n1000
15,98,113///,-,NaN,G,54097,G,595135,G,2452570,...,0,N,N,N,0,N,0,N,0,N
16,98,113///,C,NaN,G,14347,G,195234,G,749304,...,0,N,N,N,0,N,0,N,0,N
17,98,113///,Z,NaN,G,26182,G,278094,G,1184908,...,0,N,N,N,0,N,0,N,0,N
18,98,113///,S,NaN,G,7750,G,63149,G,269121,...,0,N,N,N,0,N,0,N,0,N
19,98,113///,P,NaN,G,5720,G,57214,G,243461,...,0,N,N,N,0,N,0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11868,98,813///,Z,NaN,G,17904,G,184641,G,802989,...,0,N,N,N,0,N,0,N,0,N
11869,98,813///,S,NaN,G,4332,G,44414,G,183718,...,0,N,N,N,0,N,0,N,0,N
11870,98,813///,P,NaN,G,6582,H,123393,H,467052,...,0,N,N,N,0,N,0,N,0,N
11871,98,813///,N,NaN,G,2610067,G,20907268,G,84212140,...,4339947,130,NaN,G,113822,G,953205,G,3927853,47
11872,98,813///,O,NaN,G,21835,G,244391,G,993140,...,0,N,N,N,0,N,0,N,0,N

# Create new three-digit NAICS column

In [4]:
threedigit_NAICS['naics_threedigit'] = threedigit_NAICS['naics'].str.slice(start=0, stop=3)
threedigit_NAICS

C:\Users\bcarn\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,uscode,naics,lfo,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n500_999,f1000,e1000nf,e1000,q1000nf,q1000,a1000nf,a1000,n1000,naics_threedigit
15,98,113///,-,NaN,G,54097,G,595135,G,2452570,...,N,N,N,0,N,0,N,0,N,113
16,98,113///,C,NaN,G,14347,G,195234,G,749304,...,N,N,N,0,N,0,N,0,N,113
17,98,113///,Z,NaN,G,26182,G,278094,G,1184908,...,N,N,N,0,N,0,N,0,N,113
18,98,113///,S,NaN,G,7750,G,63149,G,269121,...,N,N,N,0,N,0,N,0,N,113
19,98,113///,P,NaN,G,5720,G,57214,G,243461,...,N,N,N,0,N,0,N,0,N,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11868,98,813///,Z,NaN,G,17904,G,184641,G,802989,...,N,N,N,0,N,0,N,0,N,813
11869,98,813///,S,NaN,G,4332,G,44414,G,183718,...,N,N,N,0,N,0,N,0,N,813
11870,98,813///,P,NaN,G,6582,H,123393,H,467052,...,N,N,N,0,N,0,N,0,N,813
11871,98,813///,N,NaN,G,2610067,G,20907268,G,84212140,...,130,NaN,G,113822,G,953205,G,3927853,47,813
11872,98,813///,O,NaN,G,21835,G,244391,G,993140,...,N,N,N,0,N,0,N,0,N,813

# Select All Employment rows (lfo = -)

In [5]:
threedigit_NAICS = threedigit_NAICS.loc[threedigit_NAICS['lfo'] == '-']
threedigit_NAICS

,uscode,naics,lfo,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n500_999,f1000,e1000nf,e1000,q1000nf,q1000,a1000nf,a1000,n1000,naics_threedigit
15,98,113///,-,NaN,G,54097,G,595135,G,2452570,...,N,N,N,0,N,0,N,0,N,113
70,98,114///,-,NaN,G,7200,G,86075,G,455237,...,N,N,N,0,N,0,N,0,N,114
123,98,115///,-,NaN,G,102749,G,886968,G,4106085,...,5,NaN,G,8103,G,44393,G,177264,5,115
229,98,211///,-,NaN,G,108985,G,4581226,G,14055178,...,11,NaN,H,13243,G,820450,H,2114332,9,211
263,98,212///,-,NaN,G,173179,G,3096273,G,12445095,...,28,NaN,G,17832,G,392467,G,1599030,10,212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11216,98,721///,-,NaN,G,2111433,G,14871823,G,62656457,...,365,NaN,H,417519,H,3775271,H,14898426,209,721
11330,98,722///,-,NaN,G,11976778,G,49947767,G,211879890,...,129,NaN,H,39828,G,164394,G,733972,29,722
11455,98,811///,-,NaN,G,1284111,G,12751733,G,52975387,...,26,NaN,G,19617,G,288827,H,1161096,11,811
11654,98,812///,-,NaN,G,1464600,G,8632076,G,36369059,...,18,NaN,G,16642,G,95693,G,390448,10,812
11866,98,813///,-,NaN,G,2786267,G,22691881,G,91534841,...,134,NaN,G,115351,G,977432,G,4077182,48,813

# Check for empflag w/ three-digit NAICS

In [6]:
threedigit_NAICS_empflagcheck = threedigit_NAICS[threedigit_NAICS.empflag.notnull()]
threedigit_NAICS_empflagcheck

Empty DataFrame
Columns: [uscode, naics, lfo, empflag, emp_nf, emp, qp1_nf, qp1, ap_nf, ap, est, f<5, e<5nf, e<5, q<5nf, q<5, a<5nf, a<5, n<5, f5_9, e5_9nf, e5_9, q5_9nf, q5_9, a5_9nf, a5_9, n5_9, f10_19, e10_19nf, e10_19, q10_19nf, q10_19, a10_19nf, a10_19, n10_19, f20_49, e20_49nf, e20_49, q20_49nf, q20_49, a20_49nf, a20_49, n20_49, f50_99, e50_99nf, e50_99, q50_99nf, q50_99, a50_99nf, a50_99, n50_99, f100_249, e100_249nf, e100_249, q100_249nf, q100_249, a100_249nf, a100_249, n100_249, f250_499, e250_499nf, e250_499, q250_499nf, q250_499, a250_499nf, a250_499, n250_499, f500_999, e500_999nf, e500_999, q500_999nf, q500_999, a500_999nf, a500_999, n500_999, f1000, e1000nf, e1000, q1000nf, q1000, a1000nf, a1000, n1000, naics_threedigit]
Index: []

[0 rows x 84 columns]

In [7]:
CBP2017_ThreeDigitNAICS = threedigit_NAICS[['naics_threedigit', 'empflag', 'emp']]
CBP2017_ThreeDigitNAICS

      naics_threedigit empflag       emp
15                 113     NaN     54097
70                 114     NaN      7200
123                115     NaN    102749
229                211     NaN    108985
263                212     NaN    173179
...                ...     ...       ...
11216              721     NaN   2111433
11330              722     NaN  11976778
11455              811     NaN   1284111
11654              812     NaN   1464600
11866              813     NaN   2786267

[86 rows x 3 columns]

In [8]:
empflag_threedigitcheck = CBP2017_ThreeDigitNAICS.loc[CBP2017_ThreeDigitNAICS['empflag'].notnull()]
empflag_threedigitcheck

Empty DataFrame
Columns: [naics_threedigit, empflag, emp]
Index: []

In [9]:
ThreeDigitNAICS_Totals = CBP2017_ThreeDigitNAICS.groupby('naics_threedigit').sum()
ThreeDigitNAICS_Totals

                       emp
naics_threedigit
113                  54097
114                   7200
115                 102749
211                 108985
212                 173179
...                    ...
721                2111433
722               11976778
811                1284111
812                1464600
813                2786267

[86 rows x 1 columns]

In [10]:
ThreeDigitNAICS_Totals.to_csv(r"G:\My Drive\BCarney\DataAnalysis\CBP_2017\ThreeDigit_NAICS\AllUS_USLevel\CBP2017_ThreeDigitNAICSTotal_AllUS_USLevel.csv")