In [1]:
import pandas as pd
import numpy as np

# Import 2017 US-Level Data

In [2]:
raw_2017 = pd.read_csv(r"G:\My Drive\BCarney\DataAnalysis\CBP_2017\NAICS_AllDigits\County_level\rawdata\cbp17co.txt")
raw_2017

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
0,1,1,------,NaN,G,11036,G,87354,G,360936,...,7,3,N,N,N,N,N,N,63,1
1,1,1,11----,NaN,H,93,G,1125,H,4865,...,N,N,N,N,N,N,N,N,63,1
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
3,1,1,1133//,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
4,1,1,11331/,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089493,56,999,61131/,NaN,G,18,G,53,G,229,...,N,N,N,N,N,N,N,N,83,999
1089494,56,999,611310,NaN,G,18,G,53,G,229,...,N,N,N,N,N,N,N,N,83,999
1089495,56,999,62----,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,N,83,999
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,N,83,999
1089497,56,999,81----,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,83,999

# Select Three-Digit NAICS

In [3]:
threedigit_NAICS = raw_2017[raw_2017['naics'].str.contains('///')]
threedigit_NAICS

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
6,1,1,115///,NaN,J,12,J,142,J,724,...,N,N,N,N,N,N,N,N,63,1
8,1,1,212///,NaN,G,60,G,798,H,3280,...,N,N,N,N,N,N,N,N,63,1
13,1,1,221///,NaN,H,176,H,4812,H,18288,...,N,N,N,N,N,N,N,N,63,1
18,1,1,236///,NaN,G,91,H,738,H,3529,...,N,N,N,N,N,N,N,N,63,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089459,56,999,524///,NaN,H,376,G,4486,G,17870,...,N,N,N,N,N,N,N,N,83,999
1089470,56,999,541///,NaN,G,49,G,1083,G,4206,...,N,N,N,N,N,N,N,N,83,999
1089482,56,999,561///,NaN,H,483,J,4572,J,18405,...,3,N,N,N,N,N,N,N,83,999
1089491,56,999,611///,NaN,G,19,H,72,G,307,...,N,N,N,N,N,N,N,N,83,999
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,N,83,999

# Create new three-digit NAICS column

In [4]:
threedigit_NAICS['naics_threedigit'] = threedigit_NAICS['naics'].str.slice(start=0, stop=3)
threedigit_NAICS

C:\Users\bcarn\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty,naics_threedigit
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,63,1,113
6,1,1,115///,NaN,J,12,J,142,J,724,...,N,N,N,N,N,N,N,63,1,115
8,1,1,212///,NaN,G,60,G,798,H,3280,...,N,N,N,N,N,N,N,63,1,212
13,1,1,221///,NaN,H,176,H,4812,H,18288,...,N,N,N,N,N,N,N,63,1,221
18,1,1,236///,NaN,G,91,H,738,H,3529,...,N,N,N,N,N,N,N,63,1,236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089459,56,999,524///,NaN,H,376,G,4486,G,17870,...,N,N,N,N,N,N,N,83,999,524
1089470,56,999,541///,NaN,G,49,G,1083,G,4206,...,N,N,N,N,N,N,N,83,999,541
1089482,56,999,561///,NaN,H,483,J,4572,J,18405,...,N,N,N,N,N,N,N,83,999,561
1089491,56,999,611///,NaN,G,19,H,72,G,307,...,N,N,N,N,N,N,N,83,999,611
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,83,999,621

# Check for empflag w/ three-digit NAICS

In [5]:
threedigit_NAICS_empflagcheck = threedigit_NAICS[threedigit_NAICS.empflag.notnull()]
threedigit_NAICS_empflagcheck

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty,naics_threedigit
51,1,1,339///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,63,1,339
165,1,1,523///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,63,1,523
767,1,3,519///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,63,3,519
1016,1,3,622///,G,S,0,S,0,S,0,...,N,N,N,N,N,N,N,63,3,622
1168,1,5,115///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,63,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089212,56,43,486///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,83,43,486
1089217,56,43,517///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,83,43,517
1089315,56,45,221///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,83,45,221
1089336,56,45,423///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,83,45,423
1089450,56,999,518///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,83,999,518

# Create midpoint values for empflag rows

In [6]:
threedigit_NAICS = threedigit_NAICS.assign(emp_fix = threedigit_NAICS['emp'])
threedigit_NAICS

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty,naics_threedigit,emp_fix
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,63,1,113,81
6,1,1,115///,NaN,J,12,J,142,J,724,...,N,N,N,N,N,N,63,1,115,12
8,1,1,212///,NaN,G,60,G,798,H,3280,...,N,N,N,N,N,N,63,1,212,60
13,1,1,221///,NaN,H,176,H,4812,H,18288,...,N,N,N,N,N,N,63,1,221,176
18,1,1,236///,NaN,G,91,H,738,H,3529,...,N,N,N,N,N,N,63,1,236,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089459,56,999,524///,NaN,H,376,G,4486,G,17870,...,N,N,N,N,N,N,83,999,524,376
1089470,56,999,541///,NaN,G,49,G,1083,G,4206,...,N,N,N,N,N,N,83,999,541,49
1089482,56,999,561///,NaN,H,483,J,4572,J,18405,...,N,N,N,N,N,N,83,999,561,483
1089491,56,999,611///,NaN,G,19,H,72,G,307,...,N,N,N,N,N,N,83,999,611,19
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,83,999,621,29

In [7]:
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'A')] = 10
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'B')] = 60
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'C')] = 175
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'E')] = 375
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'F')] = 750
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'G')] = 1750
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'H')] = 3750
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'I')] = 7500
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'J')] = 17500
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'K')] = 37500
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'L')] = 75000
threedigit_NAICS['emp_fix'].loc[(threedigit_NAICS['empflag'] == 'M')] = 100000
threedigit_NAICS

C:\Users\bcarn\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty,naics_threedigit,emp_fix
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,63,1,113,81
6,1,1,115///,NaN,J,12,J,142,J,724,...,N,N,N,N,N,N,63,1,115,12
8,1,1,212///,NaN,G,60,G,798,H,3280,...,N,N,N,N,N,N,63,1,212,60
13,1,1,221///,NaN,H,176,H,4812,H,18288,...,N,N,N,N,N,N,63,1,221,176
18,1,1,236///,NaN,G,91,H,738,H,3529,...,N,N,N,N,N,N,63,1,236,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089459,56,999,524///,NaN,H,376,G,4486,G,17870,...,N,N,N,N,N,N,83,999,524,376
1089470,56,999,541///,NaN,G,49,G,1083,G,4206,...,N,N,N,N,N,N,83,999,541,49
1089482,56,999,561///,NaN,H,483,J,4572,J,18405,...,N,N,N,N,N,N,83,999,561,483
1089491,56,999,611///,NaN,G,19,H,72,G,307,...,N,N,N,N,N,N,83,999,611,19
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,83,999,621,29

In [8]:
check = threedigit_NAICS.loc[threedigit_NAICS['emp'] != threedigit_NAICS['emp_fix']]
check

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty,naics_threedigit,emp_fix
51,1,1,339///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,63,1,339,60
165,1,1,523///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,63,1,523,10
767,1,3,519///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,63,3,519,10
1016,1,3,622///,G,S,0,S,0,S,0,...,N,N,N,N,N,N,63,3,622,1750
1168,1,5,115///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,63,5,115,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089212,56,43,486///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,83,43,486,60
1089217,56,43,517///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,83,43,517,60
1089315,56,45,221///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,83,45,221,10
1089336,56,45,423///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,83,45,423,10
1089450,56,999,518///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,83,999,518,10

In [9]:
CBP2017_ThreeDigitNAICS = threedigit_NAICS[['naics_threedigit', 'emp', 'emp_fix']]
CBP2017_ThreeDigitNAICS

        naics_threedigit  emp  emp_fix
2                    113   81       81
6                    115   12       12
8                    212   60       60
13                   221  176      176
18                   236   91       91
...                  ...  ...      ...
1089459              524  376      376
1089470              541   49       49
1089482              561  483      483
1089491              611   19       19
1089496              621   29       29

[128328 rows x 3 columns]

In [21]:
ThreeDigitNAICS_Totals = CBP2017_ThreeDigitNAICS.groupby('naics_threedigit').sum()
ThreeDigitNAICS_Totals.rename(columns = {'emp': 'emp_17', 'emp_fix': 'emp_fix_17'}, inplace=True)
ThreeDigitNAICS_Totals

                    emp_17  emp_fix_17
naics_threedigit
113                  48349       50274
114                   4837        5167
115                  84043       93953
211                  96767      104732
212                  95274      139994
...                    ...         ...
721                2055652     2112827
722               11968118    11970313
811                1281258     1283138
812                1458557     1460837
813                2782545     2786595

[86 rows x 2 columns]

# Convert Index to String dtype

In [22]:
ThreeDigitNAICS_Totals.index = ThreeDigitNAICS_Totals.index.astype(str, copy = False)

# Import NAICS Index

In [23]:
naics_index = pd.read_csv(r"G:\Shared drives\Community & Economic Development\Economic Clusters\CBP_ThreeDigitNAICS_Index.csv", index_col='NAICS')

# Convert Index to String dtype

In [24]:
naics_index.index = naics_index.index.astype(str, copy = False)

# Join dfs

In [25]:
AllUS_NAICStotals = pd.merge(naics_index, ThreeDigitNAICS_Totals, how="left", left_index=True, right_index=True)
AllUS_NAICStotals

                                             description    emp_17  emp_fix_17
NAICS
113                                 Forestry and Logging     48349       50274
114                        Fishing, Hunting and Trapping      4837        5167
115      Support Activities for Agriculture and Forestry     84043       93953
211                               Oil and Gas Extraction     96767      104732
212                          Mining (except Oil and Gas)     95274      139994
...                                                  ...       ...         ...
721                                        Accommodation   2055652     2112827
722                    Food Services and Drinking Places  11968118    11970313
811                               Repair and Maintenance   1281258     1283138
812                        Personal and Laundry Services   1458557     1460837
813    Religious, Grantmaking, Civic, Professional, a...   2782545     2786595

[86 rows x 3 columns]

In [26]:
AllUS_NAICStotals.to_csv(r"G:\My Drive\BCarney\DataAnalysis\CBP_2017\ThreeDigit_NAICS\AllUS_CountyLevel\CBP2017_ThreeDigitNAICSTotal_AllUS_CountyLevel_NAICStotals.csv")